body{
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textNumber{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;

  color: #FFFFFF;

  opacity: 0.8;
}

.textTimeWork{


  font-family: Spartan, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;

  /* white */

  color: #FFFFFF;

  opacity: 0.8;
}


.textLocation{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;


  color: #FFFFFF;

  opacity: 0.8;
}

.wrapper{
  position: relative;
  max-width: 1280px;
  background: #FEFEFE;
  margin: 0 auto;
}
.headerDescription{
  display: flex;
  justify-content: flex-start;
  margin-left: 86px;
}

.headerInfo{
  height: 24px;
  width: 1280px;

  background: #121212;
}

.headerDescription a{
  margin-left: 10px;
}
.iconMessenger{
  margin-left: 540px;
  display: flex;
}

.iconMessenger li{
  margin-left: 11px;
  list-style-type: none;
}
.headerNavigation{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 1280px;
  height: 66px;
  align-items: center;
}

.headerNavigation .logo{
  margin-left: 85px;
}

.headerNavigation .mnu_top{
  list-style-type: none;
}

.headerNavigation .mnu_top li{
  display: inline-block;
  margin-left: 32px;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;

}
.headerNavigation .mnu_top li a{
  display: block;
  text-decoration: none;
  color: #121212;

}
.mnu_right{
  margin-left: 45px;
}

.mnu_right li{
  display: inline-block;
  margin-left: 27px;

  list-style-type: none;
}

.shopCount{
  margin-left: 8px;
  margin-top: -8px;
  position: absolute;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: bold;
  /* or 200% */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 13px;
  border: 2px solid #FFFFFF;
  /* white */

  color: #FFFFFF;

  /* dark */
  background: #121212;
  /* white */
}

.titleText{
  width: 289px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  margin-left: 125px;
  margin-top: 195px;
}

.titleText span:first-child{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 24px;
  /* dark */

  color: #121212;

  opacity: 0.4;
}
.banner{
  width: 1280px;
  margin-top: 30px;
  margin-left: 85px;
}

.titleText span:last-child{
  margin-top: 14px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  /* identical to box height */
  justify-content: center;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}
.arrowLeft{
  margin-top: 238px;
  position: absolute;
  margin-left: 40px;
}

.arrowRight{
  margin-left: 480px;
  margin-top: 238px;
  position: absolute;
}

.men{
  position: absolute;
  margin-left: 295px;
}

.women{
  width: 1280px;
  margin-left: 10px;

}
.womenBanner{
  position: absolute;
}

.titleWomen{
  width: 118px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  margin-top: -420px;
  margin-left: 618px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.titleWomen span {
  justify-content: center;
  font-family: Spartan , sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}


.titleMen{
  width: 118px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  margin-top: -420px;
  margin-left: 900px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.titleMen span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}

.accessor{
  width: 166px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  margin-top: -160px;
  margin-left: 727px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.accessor span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}
.headerSpecification{
  width: 1280px;
  height: 106px;
  display: flex;
  list-style-type: none;

}


.headerSpecification img{
  padding-left: 90px;
  margin-right: 255px;
  margin-top: 41px;
}

.headerSpecification a {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: -37px;
  margin-left: 132px;
  display: flex;
  /* dark */

  color: #121212;

}

.headerSpecification p {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 183% */
  /* dark */
  margin-top: 5px;
  margin-left: 132px;
  color: #121212;

  opacity: 0.9;
}

.women p {
  display: inline-block;
  margin-left: 35px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  /* identical to box height */

  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

}

.women .menuWomen{

  list-style-type: none;
  width: 1200px;
}

.menuWomen li{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;
   display: inline-block;
  /* dark */
  margin-left: 32px;
  color: #121212;
  text-transform: uppercase;

  opacity: 0.6;

}
.women li:first-of-type{
  margin-left: 331px;
  opacity: 0.9;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

}
.menHeader li:first-of-type{
  margin-left: 380px;
}
.menHeader{
  margin-left: -20px;
}

.women .menuWomen li a{
  display: block;
  text-decoration: none;
  color: #121212;

}
.cardDescription{
  width: 255px;
  margin-top: 16px;
}
.cardDescription span{
  display: flex;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height */
  margin-top: 12px;

  /* dark */

  color: #121212;

}
.subscribe{
  height: 580px;
  margin-top: 96px;
  display: flex;
  background: linear-gradient(180deg, #F3F2F2 0%, #DCDBDB 100%);
}
.subscribe img:last-child{
  margin-top: -320px;
  margin-left: 500px;
  position: absolute;
}
.blog{
  margin-top: 76px;
  margin-left: 85px;
}

.blog span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;

  /* dark */

  color: #121212;

  opacity: 0.6;
  margin-left: 820px;
}
.blogText{
  margin-top: -40px;
  margin-left: 24px;
  width: 302px;
  height: 174px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  justify-content: center;
}

.blogDescription {
  margin-left: 16px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 260px;
  color: #121212;
  margin-top: -6px;

  opacity: 0.8;
}
.blogText h3{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 157% */
  margin-left: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}

.blogCard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blogCardDescription:nth-child(2){
  margin-left: -24px;
}
.blogCardDescription:nth-child(3){
  margin-left: -47px;
}


.subscribe img:first-child{
  margin-top: 30px;
  position: absolute;
  margin-left: 122px;
}
.subscribeBanner{
  margin-left: 383px;
  width: 532px;
  height: 461px;
  background: #FFFFFF;
  border-radius: 4px;
  justify-content: center;
}
.offer{
  font-family: Spartan, Serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 80px;

  /* dark */

  color: #121212;

  opacity: 0.4;
}
.getOff{
  width: 282px;
  height: 72px;
  margin-left: 125px;
  margin-top: 16px;
}

.getOff span:nth-child(1){
  margin-left: 55px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  /* or 138% */
  margin-top: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  /* dark */
  color: #121212;
}
.subscribeBanner p{
  color: #E91E63;
  margin-top: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  margin-left: 7px;
}
.subscribeBanner a{
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */
  justify-content: center;
  margin-top: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  /* dark */

  color: #121212;

  opacity: 0.4;
}
.subscribeBanner button{
  width: 340px;
  justify-content: center;
  height: 64px;
  background: #121212;
  /* dark */
  color: #FFFFFF;
  border: 2px solid #121212;
  box-sizing: border-box;
  margin-left: 90px;
  font-family: Spartan, Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */
  margin-top: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}

.lookBook{
  margin-top: 70px;
}
.lookBookWithGet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 75px;

}
.colorText{
  color: #E91E63;
  margin-left: 6px;
}


.bannerBottom{
  margin-left: 120px;
  width: 293px;
  height: 71px;
  margin-top: -170px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  justify-content: center;
}

.bannerBottom span:first-child{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 16px;
  /* dark */

  color: #121212;

  opacity: 0.6;
}
.bannerBottom span:last-child{
  margin-top: 8px;
  justify-content: center;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

}


.cardDescription span:first-child{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  display: flex;

  /* dark */

  color: #121212;

  opacity: 0.6;

}

.rating {
  display: flex;
  margin-left: 100px;
  justify-content: flex-end;
  margin-top: -14px;
}


.womenCard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 70px;
}

.card{
  margin-top: 30px;
}

.seeAll{
  margin-left: 85px;
  width: 1110px;
  height: 48px;
  margin-top: 48px;
  background: #F8F8F8;
  /* gr-white */
  display: flex;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  justify-content: center;
  text-transform: uppercase;
}

.headerFooter{
  margin-top: 150px;
  width: 1280px;
  height: 56px;
  background: #121212;
  display: inline-block;
}

.headerFooter span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  margin-left: 85px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 19px;
  /* white */

  color: #FFFFFF;

}

.headerFooter input{
  width: 400px;
  height: 28px;
  margin-left: 150px;
  background: #3e3d3d;
}

.headerFooter input::placeholder{
  font-family: Spartan,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.4;
  display: flex;
  padding-left: 16px;
}

.headerFooter button{
  width: 108px;
  height: 32px;
  padding-top: 5px;
  margin-left: 12px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* white */
  background: #121212;
  color: #FFFFFF;

  opacity: 0.9;
}

.iconMessengerFooter{
  margin-top: -27px;
  margin-left: 1060px;
  display: flex;
}

.iconMessengerFooter li{
  margin-left: 11px;
  list-style-type: none;
}
.headerDescription li a{
  text-decoration: none;

}
.subscribeBanner a {
  text-decoration: none;

}
.headerSpecification li a {
  text-decoration: none;

}
.footerCategories{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: -105px;
}

.footerDescription{
  list-style-type: none;

}

.footerDescription a{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 34px;
  /* or 283% */
  text-decoration: none;
  /* dark */

  color: #121212;

  opacity: 0.8;
}
.footerCopyright img:first-of-type{
  padding-left: 420px;
}
.footerCopyright img{
  margin-left: 12px;

}

.footerCopyright{
  height: 40px;
  margin-top: 20px;
  position: absolute;
}
.footerDescription p {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}

.footerCopyright a {
  position: absolute;
  margin-left: 270px;
  font-family: Spartan,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-top: -3px;
  color: #121212;

  opacity: 0.8;
}

.footerCopyright span{
  position: absolute;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 200% */
  margin-top: -3px;
  margin-left: 85px;
  /* dark */

  color: #121212;

  opacity: 0.8;
}

.HeaderMenProduct{

}

.productNavigation{
  width: 1280px;
  height: 32px;
}
.productNavigation span:first-child{
  font-family: Spartan, sans-serif;
  margin-left: 75px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-top: 7px;

  /* dark */

  color: #121212;

  opacity: 0.6;
}
.productNavigation b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-left: 6px;
  /* dark */

  color: #121212;

}
.productNavigation img{
  margin-left: 950px;
  opacity: 0.6;
}

.productNavigation span:last-child{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-left: 10px;
  position: absolute;

  /* dark */

  color: #121212;

  opacity: 0.6;
}

.menCaption{
  height: 70px;
}
.menCaption span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height, or 138% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
  margin-left: 590px;
  margin-top: 10px;
}
.showContent{
  margin-left: 75px;
}

.showContent span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: 15px;
  position: absolute;
  margin-top: 6px;
  /* dark */

  color: #121212;

  opacity: 0.6;
}
.showContent img{
  opacity: 0.6;
}

.showContent img:nth-child(3){
  margin-left: 977px;
}

.showContent img:nth-child(4){
  margin-left: 35px;
  position: absolute;
  margin-top: 6px;
}

.cardMen{
  margin-top: 100px;
}

.product-page__title{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height, or 138% */

  letter-spacing: 0.06em;
  /* dark */

  color: #121212;
  margin-left: 450px;
  margin-top: 10px;
}

.productPage-navigation__title{
  width: 1280px;
  height: 32px;
  margin-left: 12px;
}
.productPage-navigation__title span:first-child{
  font-family: Spartan, sans-serif;
  margin-left: 75px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-top: 7px;

  /* dark */

  color: #121212;

  opacity: 0.6;
}
.productPage-navigation__title b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-left: 6px;
  /* dark */

  color: #121212;

}
.productPage-navigation__title img{
  margin-left: 790px;
  opacity: 0.6;
}

.productPage-navigation__title span:last-child{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  margin-left: 10px;
  position: absolute;

  /* dark */

  color: #121212;

  opacity: 0.6;
}

.productPage-rating__description{
  margin-left: 85px;
}

.productPage-rating__description span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
/* identical to box height, or 164% */
  margin-left: 7px;

/* dark */

  color: #121212;

  opacity: 0.6;
}

.productPage-rating__description b{
  font-family: Spartan, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #121212;

}

.productPage-rating__description span:nth-last-of-type(2){
    margin-left: 750px;
}
.productPage-rating__description span:last-of-type{
  margin-left: 30px;
}

.show-product__item{
  margin-top: 16px;
  margin-left: 75px;
  flex-direction: column;
  display: flex;
  width: 94px;
  height: 114px;
  position: absolute;
}
.show-product__item img{
  margin-top: 16px;
}

.arrows{
  margin-top: 60px;
  margin-left: 94px;
}

.arrows img:last-child{
  margin-left: 27px;
}

.main-product__item{
  display: inline-block;
  margin-left: 180px;
  margin-top: -25px;
}

.main-product__item img:nth-child(2){
  margin-left: -410px;
  margin-top: 270px;
  position: absolute;
}
.main-product__item img:nth-child(3){
  margin-top: 270px;
  position: absolute;
}

.content-product__Color{
  width: 350px;
  position: absolute;
  margin-left: 656px;
  margin-top: -550px;
}
.main-product__item span:first-of-type{
  margin-top: -30px;
  margin-left: 45px;
  position: absolute;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

  opacity: 0.6;
}
.main-product__item b:first-of-type {
  position: absolute;
  margin-top: -30px;
  margin-left: 100px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #121212;

}
.main-product__item b:last-of-type {
  position: absolute;
  margin-top: 110px;
  margin-left: 82px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #121212;

}



.content-product__Color img{
  margin-left: 16px
}

.main-product__item span:last-of-type{
  margin-top: 110px;
  margin-left: 45px;
  position: absolute;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

  opacity: 0.6;
}

.product-item__size{
  position: absolute;
  margin-top: -440px;
  margin-left: 610px;
  flex-direction: row;
}
.product-item__size li{
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;

  color: #121212;

  opacity: 0.8;
}



.product-item__size li:nth-child(2){

  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  box-sizing: border-box;
  padding: 13px;
}
.product-item__size img{
  margin-left: 60px;
}

.product-item__size p{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #121212;
  margin-left: 90px;
  opacity: 0.6;
  margin-top: -19px;
}

.waterLine{
  margin-left: 60px;
  position: absolute;
  margin-top: 25px;
  width: 522px;
  height: 2px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
}
.water-line__price{
  margin-left: 670px;
  position: absolute;
  margin-top: -192px;
  width: 522px;
  height: 2px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
}

.product-item__price{
  margin-top: -270px;
  position: absolute;
  margin-left: 675px;
}

.product-item__price span{

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  /* identical to box height, or 164% */

  text-transform: uppercase;

  /* dark */

  color: #121212;
}
.product-item__price button{
  margin-left: 24px;
  background: #121212;
  /* dark */
  width: 156px;
  height: 48px;
  border: 2px solid #121212;
  box-sizing: border-box;
  font-family: Spartan,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* white */

  color: #FFFFFF;

  opacity: 0.9;
}
.product-item__price img{
  margin-left: 31px;
}

.product-item__help{
  position: absolute;
  margin-left: 670px;
  margin-top: -200px;
  height: 100px;
  width: 500px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.product-item__help span{
  margin-left: 10px;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #121212;
  opacity: 0.6;
}
.product-item__help img:nth-child(3){
  margin-left: 28px;
}
.product-item__help img:nth-child(5){
  margin-left: 56px;
}

.product-method__pay span{
  position: absolute;
  margin-top: -110px;
  margin-left: 17px;
}
.product-method__pay {
  margin-left: 654px;
}

.product-method__pay img{
  margin-top: -110px;
  margin-left: 16px;
  justify-content: space-between;
}

.pay-method{
  margin-top: -55px;
  position: absolute;
}

.product-item__description{
  margin-left: 630px;
}

.product-item__description li{
  list-style-type: none;

}

.product-item__description li:nth-child(1){
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #121212;

  opacity: 0.6;
}
.product-item__description li:nth-child(2){
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 150% */
  margin-top: 56px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

}
.product-item__description li:nth-child(3){
  margin-top: 32px;
}
.product-item__description li:nth-child(4){
  margin-top: 5px;
}
.product-item__description li:nth-child(5){
  margin-top: 5px;
}

.product-item__description li:nth-child(3) b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 22px;

  color: #121212;
}
.product-item__description li:nth-child(3) span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;

  opacity: 0.6;
}
.product-item__description li:nth-child(4) span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;

  opacity: 0.6;
}
.product-item__description li:nth-child(5) span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;

  opacity: 0.6;
}
.product-item__description li:nth-child(4) b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 22px;
  margin-top: 12px;
  color: #121212;
}
.product-item__description li:nth-child(5) b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 22px;

  color: #121212;
}


.product-method__pay span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;
}

.iconMessage{
  width: 15px;
  height: 15px;
  opacity: 0.6;
}

.product-item__reviews{
  margin-left: 670px;
  width: 522px;
  margin-top: 40px;

}

.reviews{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* dark */

  color: #121212;

}

.product-item__write{
  margin-top: 30px;
  width: 510px;
  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
}

.product-item__write span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */


  /* dark */

  color: #121212;

  opacity: 0.6;
  margin-left: 10px;
}

.product-item__write img{
  width: 15px;
  height: 15px;
}

.product-item__write img:nth-child(7){
  margin-left: 272px;
}

.product-item__comment b{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  /* dark */
  margin-top: 10px;
  display: flex;
  color: #121212;

}
.product-item__comment b:last-of-type {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  /* dark */
  color: #121212;
  display: flex;
  margin-top: 40px;
}
.product-item__comment span{
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  margin-top: 12px;
  display: flex;
  /* dark */
  width: 510px;
  color: #121212;

  opacity: 0.8;
}
.image img:nth-child(1){
  margin-left: 445px;
  margin-top: -30px;
}
.image{
  margin-top: -23px;
}

.lastComment{
  margin-left: 445px;
  margin-top: -23px;
}
.related-item__products{
  margin-top: 138px;
  font-family: Spartan,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;


  color: #121212;

}
.arrow-item__related {
  margin-left: 1050px;

}
.arrow-item__related img:nth-child(2){
  margin-left: 30px;

}

@media (max-width: 1200px) {
  .headerDescription {
    width: 500px;
    justify-content: flex-start;
  }
  .headerDescription a{
    height: 100px;
    width: 170px;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: -15px;
  }
  .iconMessenger{
    margin-left: -10px;
  }


}

@media (max-width: 1200px){
  .headerNavigation{
    margin-top: 40px;

  }
  .mnu_top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .mnu_top a {
    margin-top: 10px;
  }
  .mnu_right {
    margin-left: -55px;
  }
  .titleMen{
    display: none;
  }
  .men{
    display: none;
  }
  .womenBanner{
    display: none;
  }
  .titleWomen{
    display: none;
  }
  .accessor{
    display: none;
  }
  .access{
    display: none;
  }
  .imageTitle{
    margin-left: 100px;
  }
  .titleText{
    margin-left: 222px;
  }
  .arrowLeft{
    margin-left: 135px;
  }
  .arrowRight{
    margin-left: 590px;
  }
  .headerSpecification {
    display: grid;
    grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
  }
  .womenCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px){
  .womenCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px){
  .womenCard{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

